= shadow_tag "basic"
= shadow_tag "curled"
= shadow_tag "curved_hz"
= shadow_tag "curved_hz_bottom"
= shadow_tag "curved_hz_top"
= shadow_tag "perspective"
= shadow_tag "perspective_r"
= shadow_tag "curved_vt"
= shadow_tag "see_through_tape"
= shadow_tag "wrinkled"
