%section#about
  %h1 About
  %p
    %strong Welcome to CSS3 Drop Shadows, a web application to build nice CSS3 box shadows:
  %ul
    %li
      <strong>Open Source</strong>, released under the 
      #{link_to "GNU Public License v3", "http://www.gnu.org/copyleft/gpl.html"}
    %li
      #{link_to "Fork me", "https://github.com/lkdjiin/css3_shadow"} on <strong>GitHub</strong>
    %li
      Report a <strong>bug</strong> / request a <strong>feature</strong> on 
      #{link_to "GitHub issues", "https://github.com/lkdjiin/css3_shadow/issues"}
    %li
      Follow #{link_to "CSS3 Drop Shadow Generator", "twitter.com/c3dsg"} on Twitter
    %li
      #{link_to "Follow me", "twitter.com/lkdjiin"} on <strong>Twitter</strong>
    %li
      Feel free to #{mail_to "xavier.nayrac@gmail.com", "email me", :encode => "javascript"} 
      with any questions

  %p
  %h2 Credits
  %p
  %p
    Some shadows come from
    = link_to "webdesignshock", "http://www.webdesignshock.com/css3-box-shadow/"
