#top
  %p If you don't see some nice shadows, try with another browser

%section#setup
  #tabs
    %ul
      %li
        %a{href: "#tabs-1"} Shape
      %li
        %a{href: "#tabs-2"} Shadow
      %li
        %a{href: "#tabs-3"} Box
    #tabs-1
      %div{id: "setup_type", class: "setup_box"}
        = render "pages/app/setup_type"
    #tabs-2
      %div{id:"setup_shadow", class: "setup_box"}
        = render "pages/app/setup_shadow"
    #tabs-3
      %div{id: "tweak_box", class: "setup_box"}
        = render "pages/app/tweak_box"



%section#box_outer
  #box

%section#code
  %h1 The code
  %button{ onclick: "window.maker.show_code()", class: "ui-button-blue"} 
    (Re)generate Code
  #code-tabs
    %ul
      %li
        %a{href: "#code-tabs-1"} CSS
      %li
        %a{href: "#code-tabs-2"} SASS
    #code-tabs-1
      %pre
        %code
    #code-tabs-2
      %pre
        %code

%section#social
  = render "pages/app/flattr"
  %p= render "pages/app/follow"
  %p= render "pages/app/twitter"
  = render "pages/app/facebook"
  %p.trello= render "pages/app/trello"

