%section#setup
  %div{id: "setup_type", class: "setup_box"}
    = render "pages/home/setup_type"
  %div{id: "tweak_box", class: "setup_box"}
    = render "pages/home/tweak_box"
  %div{id:"setup_shadow", class:"setup_box"}
    = render "pages/home/setup_shadow"

%section#box_outer
  #box
  

%section#code
  %h1 The code
  %button{ onclick: "window.maker.show_code()"} 
    (Re)generate Code
  %pre
    %code
      %div

%section#about
  %h1 About
  %p
    %strong Welcome to CSS3 Drop Shadows, a web application to build nice CSS3 box shadows:
  %ul
    %li
      For now it has been tested only in <strong>Firefox 8</strong> but should also work in "webkit" 
      browsers.
    %li
      <strong>Open Source</strong>, released under the 
      #{link_to "GNU Public License v3", "http://www.gnu.org/copyleft/gpl.html"}
    %li
      #{link_to "Fork me", "https://github.com/lkdjiin/css3_shadow"} on <strong>GitHub</strong>
    %li
      Report a <strong>bug</strong> / request a <strong>feature</strong> on 
      #{link_to "GitHub issues", "https://github.com/lkdjiin/css3_shadow/issues"}
    %li
      #{link_to "Follow me", "twitter.com/lkdjiin"} on <strong>Twitter</strong>
    %li
      Feel free to #{mail_to "xavier.nayrac@gmail.com", "email me", :encode => "javascript"} 
      with any questions

%section#todo
  %h1 Todo
  %p 
    %strong In no particular order:
  %ul
    %li Setup of the box (dimension, color, etc.)
    %li 
      Add many type of shadows (see for example 
      #{link_to "this page", "http://nicolasgallagher.com/css-drop-shadows-without-images/demo/"})
    %li Test in many browsers
    %li Do a Help Page
    %li Do a Comments Page
    %li Produce sass, scss and less code
    %li Code syntax highlight
    %li add a button to copy code to clipboard
