%section#setup
  %div{id: "setup_type", class: "setup_box"}
    = render "pages/home/setup_type"
  %div{id: "setup_subtype", class: "setup_box"}
    = render "pages/home/setup_subtype"
  %div{id:"setup_shadow", class:"setup_box"}
    = render "pages/home/setup_shadow"

%section#box_outer
  #box
  

%section#code
  %input{ type: "submit", value: "View Code", onclick: "window.maker.show_code()"}
  %pre
    %code
      %div

%section#about
  %h1 About
  %p
    Welcome to CSS3 Drop Shadows, a web application to build nice CSS3 box shadows:
  %ul
    %li
      For now it has been tested only in Firefox 8 but should also work in "webkit" browsers.
    %li
      Open Source, released under the #{link_to "GNU Public License v3", "http://www.gnu.org/copyleft/gpl.html"}
    %li
      #{link_to "Fork me", "https://github.com/lkdjiin/css3_shadow"} on GitHub
    %li
      #{link_to "Follow me", "twitter.com/lkdjiin"} on Twitter
    %li
      Feel free to #{mail_to "xavier.nayrac@gmail.com", "email me", :encode => "javascript"} with any questions

%section#todo
  %h1 Todo
  %p In no particular order:
  %ul
    %li Setup of the box (dimension, color, etc.)
    %li 
      add many type of shadows (see for example 
      #{link_to "this page", "http://nicolasgallagher.com/css-drop-shadows-without-images/demo/"})
    %li Test in many browsers
    %li Doing a Help Page
    %li Doing a Comments Page
    %li produce sass, scss and less code
