
#doc
  %h2 1. Choose a shadow
  = image_tag "drop-shadows-generator-1.jpg"
  %h2 2. Tweak the shadow and/or the box
  = image_tag "drop-shadows-generator-2.jpg"
  %h2 3. View changes in real time
  = image_tag "drop-shadows-generator-3.jpg"
  %h2 4. (Re)generate the css code
  = image_tag "drop-shadows-generator-4.jpg"
  %h2 5. Start designing now
  = link_to "Go to app", app_path, class: "last"
