
#doc
  %h2 1. Choose a shadow
  = image_tag "drop-shadows-generator-1.jpg"
  %p
    There is currently 10 different shadow styles for you to play with.
    And I add new ones on a regular basis.
    Each shadow is build exclusively with some CSS3 properties,
    no images used.
  %h2 2. Tweak the shadow and/or the box
  = image_tag "drop-shadows-generator-2.jpg"
  %p
    For each shadow, the generator let you customize a lot of stuff, some CSS
    like box-shadow, transform,
    etc, the width, height and position of the shadow and many other things.
  %h2 3. View changes in real time
  = image_tag "drop-shadows-generator-3.jpg"
  %p
    The generator changes the shadow in real time, as you play with the sliders.
  %h2 4. (Re)generate the css code
  = image_tag "drop-shadows-generator-4.jpg"
  %p
    When your shadow looks good, hit the button to generate the CSS and Sass
    code. You can now copy/paste it to add a nice CSS3 shadow on your website.
  %h2 5. Start designing now
  = link_to "Go to app", app_path, class: "last"
