!!! 5
%html{ lang: "en" }
  %head
    / This "style" tag is mandatory because the method used to set 
    / the CSS pseudo elements.
    %style
    %title= @title
    %meta{ name: "google-site-verification", content: "h3DNBKRasEzT71D2ZRiH6iT-5HHCxYHjyXRSFo7Dqk8"}
    %meta{ charset: "UTF-8" }
    %meta{ name: "description", content: "A web application to build nice drop shadows with css3."}
    %meta{ name: "keywords", content: "shadow,css3,generator,web app,curved,curled,vertical,horizontal,design,learning,experiment"}
    = render "layouts/scripts"
    = csrf_meta_tags
    = render "layouts/google_analytics"

  %body
    #advertise
      %p
        I am really sorry but this site is not mobile friendly.
        You should better use it with a wide screen.
    = render 'layouts/header'

    #main_content.application_centered
      = yield

    = render 'layouts/footer'
    = render 'layouts/end_scripts'
