!!! 5
%html{ lang: "en" }
  %head
    / This "style" tag is mandatory because the method used to set 
    / the CSS pseudo elements.
    %style
    %title= @title
    %meta{ name: "google-site-verification", content: "h3DNBKRasEzT71D2ZRiH6iT-5HHCxYHjyXRSFo7Dqk8"}
    %meta{ charset: "UTF-8" }
    %meta{ name: "description", content: "A web application to build nice drop shadows with css3."}
    %meta{ name: "keywords", content: "shadow,css3,generator,web app,curved,curled,vertical,horizontal,design,learning,experiment"}
    = render "layouts/scripts"
    = csrf_meta_tags
    = render "layouts/google_analytics"

  %body
    #advertise
      %p
        I am really sorry but this site is not mobile friendly.
        You should better use it with a wide screen.
    %header
      .application_centered
        %h1 CSS3 Drop Shadows Generator
        %nav
          %ul
            %li= link_to "home", root_path
            %li= link_to "app", app_path
            %li= link_to "about", about_path
            %li= link_to "todo", todo_path
        #slogan For designers - For learning CSS3 - To try some experiments

    %div{id: "main_content", class: "application_centered"}
      = yield

    %footer
      %p Xavier Nayrac, 2011-2013
      %p GNU General Public License v3
      #thanks
        powered by #{link_to "ruby on rails", "http://rubyonrails.org/"} -
        hosted on #{link_to "heroku", "http://www.heroku.com/"}
        
